In [10]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt 
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
language_ori = pd.read_csv('../data/language.csv', encoding='latin1')

language =  language_ori.copy()

language

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [12]:
language.drop(columns=["last_update"], inplace=True) #chau last update

In [13]:
language.head()

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French

In [14]:
language.shape #dimension actual

(6, 2)

In [15]:
language.to_csv('language_limpio.csv', index=False)

In [16]:
from sqlalchemy import create_engine

In [17]:
str_conn = f'mysql+pymysql://root:Joaquin01@localhost:3306/proyecto_sql'
cursor = create_engine(str_conn)

In [18]:
language.to_sql(name='limpieza_language',       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists='replace',  # replace sobreescribe la tabla
            index=True)

6