In [16]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt 
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
category_ori = pd.read_csv('../data/category.csv', encoding='latin1')

category =  category_ori.copy()

category

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

In [18]:
category.shape

(16, 3)

In [19]:
category.duplicated().any() #no hay filas duplicadas

False

In [20]:
category.info(memory_usage='deep') #ac√° ya vemos que no hay nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.4 KB

In [21]:
category.drop(columns=["last_update"], inplace=True) #chau last update

In [22]:
category.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

In [23]:
category.shape #dimension actual

(16, 2)

In [24]:
category['name'].unique() #pareceria que no hay que limpiar los nombres

array(['Action', 'Animation', 'Children', 'Classics', 'Comedy',
       'Documentary', 'Drama', 'Family', 'Foreign', 'Games', 'Horror',
       'Music', 'New', 'Sci-Fi', 'Sports', 'Travel'], dtype=object)

In [25]:
category['name'] != category['name'].str.strip() #parece que no hay espacios

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: name, dtype: bool

In [26]:
category.to_csv('category_limpio.csv', index=False)

In [27]:
category

    category_id         name
0             1       Action
1             2    Animation
2             3     Children
3             4     Classics
4             5       Comedy
5             6  Documentary
6             7        Drama
7             8       Family
8             9      Foreign
9            10        Games
10           11       Horror
11           12        Music
12           13          New
13           14       Sci-Fi
14           15       Sports
15           16       Travel

In [28]:
from sqlalchemy import create_engine

In [29]:
str_conn = f'mysql+pymysql://root:Joaquin01@localhost:3306/proyecto_sql'
cursor = create_engine(str_conn)

In [30]:
category.to_sql(name='limpieza_category',       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists='replace',  # replace sobreescribe la tabla
            index=True)

16