In [7]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt 
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
old_HDD_ori = pd.read_csv('../data/old_HDD.csv', encoding='latin1')

old_HDD =  old_HDD_ori.copy()

old_HDD.head(10)

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
5   PENELOPE   GUINESS     COLOR PHILADELPHIA          2006            4
6   PENELOPE   GUINESS        ELEPHANT TROJAN          2006           11
7   PENELOPE   GUINESS    GLEAMING JAWBREAKER          2006           15
8   PENELOPE   GUINESS         HUMAN GRAFFITI          2006           10
9   PENELOPE   GUINESS         KING EVOLUTION          2006            8

In [9]:
old_HDD.shape

(1000, 5)

In [10]:
old_HDD.duplicated().any() #no hay filas duplicadas

False

In [11]:
old_HDD.duplicated(subset=['first_name', 'last_name', 'title']).any() #hay duplicados con dif id??

False

In [12]:
old_HDD.drop(columns=["release_year"], inplace=True)

In [13]:
old_HDD.info(memory_usage='deep') #No hay nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_name   1000 non-null   object
 1   last_name    1000 non-null   object
 2   title        1000 non-null   object
 3   category_id  1000 non-null   int64
dtypes: int64(1), object(3)
memory usage: 199.8 KB

In [14]:
old_HDD.to_csv('old_HDD_limpio.csv', index=False)

In [15]:
from sqlalchemy import create_engine

In [16]:
str_conn = f'mysql+pymysql://root:Joaquin01@localhost:3306/proyecto_sql'
cursor = create_engine(str_conn)

In [17]:
old_HDD.to_sql(name='ACTOR_IN_FILM',       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists='replace',  # replace sobreescribe la tabla
            index=True)

1000