In [17]:
# librerias a importar

import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt 
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
film_ori = pd.read_csv('../data/film.csv', encoding='latin1')

film =  film_ori.copy()

film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [19]:
film.shape

(1000, 13)

In [20]:
film.duplicated().any() #no hay filas duplicadas

False

In [21]:
film.duplicated(subset=['title']).any() #no hay pel√≠culas duplicadas

False

In [22]:
film.info(memory_usage='deep') # vemos que hay una columna con todos nulos, la borraremos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 495.3 KB

In [23]:
film.drop(columns=["original_language_id"], inplace=True) #chau original_language_id

In [24]:
film.drop(columns=["last_update"], inplace=True) #chau last update

In [25]:
film.drop(columns=["release_year"], inplace=True)

In [26]:
film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes

In [27]:
film.shape #dimension actual

(1000, 10)

In [28]:
film.to_csv('film_limpio.csv', index=False)

In [29]:
film.describe()

,film_id,language_id,rental_duration,rental_rate,length,replacement_cost
count,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,1.0,4.985000,2.980000,115.272000,19.984000
std,288.819436,0.0,1.411654,1.646393,40.426332,6.050833
min,1.000000,1.0,3.000000,0.990000,46.000000,9.990000
25%,250.750000,1.0,4.000000,0.990000,80.000000,14.990000
50%,500.500000,1.0,5.000000,2.990000,114.000000,19.990000
75%,750.250000,1.0,6.000000,4.990000,149.250000,24.990000
max,1000.000000,1.0,7.000000,4.990000,185.000000,29.990000

In [30]:
from sqlalchemy import create_engine

In [31]:
str_conn = f'mysql+pymysql://root:Joaquin01@localhost:3306/proyecto_sql'
cursor = create_engine(str_conn)

In [32]:
film.to_sql(name='limpieza_film',       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists='replace',  # replace sobreescribe la tabla
            index=True)

1000